.team-container {
    background-color: antiquewhite;
    margin:0;
    height: 200px;
}
.team-container > h1 {
    margin: 0;
    text-align: center;
}

.player-title {
    margin: 0;
    text-align: center;
}
.players-container {
    background-color: aliceblue;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.player-card {
    width: 250px;
    height: 200px;
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}